body {
  background-color: #F0F0F0 !important;
  font-family: nunito-sans, sans-serif, Helvetica, Arial !important;
}

.bg {
  background-color: #fff;
}

.header-user,
.header-account {
  cursor: pointer;
}

.header-account div {
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}

.header-account div:hover {
  background-color: #FFC107;
}

.popover-body {
  padding: 5px !important;
}

.header-user-name {
  padding: 0 10px;
}

.header-user-icon {
  padding-left: 10px;
}

.header-user-icon img,
.my-order-user-img img {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding-top: 56px;
}

.ProductPage-container {
  background-color: #ddd;
}

.product-card-body a {
  text-decoration: none;
  color: black;
}

.product {
  padding: 5px !important;
  margin: 0;

}

.product-card {
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card-img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.product-card-price,
.product-card-title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
}



.product-card-title {
  font-size: 14px;
  min-height: 2.8em;
}

.product-card-body .product-card-price {
  color: #c92127;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  padding: 5px 0;
}

.product-card-body {
  padding: 5px !important;
}

.toolbar {
  padding: 5px;
}

.toolbar select {
  font-size: 15px;
  line-height: 3;

}

.products,
.product-box {
  padding: 10px !important;
}

.product-box>div {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.product-card-episode {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar,
.sidebar-box {
  padding: 10px !important;
}

.sidebar-box>div {
  position: sticky;
  top: 66px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.pagination {
  justify-content: center;
  margin: 10px 0 !important;
}

.user-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.signin-button {
  margin: 0 10px;
}

.label-signinup {
  cursor: pointer;
  padding-left: 5px;
  color: #0d6efd;
}

.signin-up {
  padding-top: 16px;
}

.form-signin-up {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detail-product,
.admin-system,
.profile-user,
.my-order {
  padding: 10px 0 0 0 !important;
}

.detail-product-box,
.admin-system-box,
.my-order-box,
.profile-user-box {
  padding: 0 10px;
  margin: 0 !important;
}

.detail-product-content-left,
.detail-product-content-right,
.admin-system-content-left,
.admin-system-content-right,
.my-order-content-right,
.my-order-content-left,
.profile-user-content-left,
.profile-user-content-right {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  justify-content: center;
}

.detail-product-img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.detail-product-content-block,
.admin-system-content-block,
.my-order-content-block,
.profile-user-content-block {
  padding: 0 10px !important;
  margin-bottom: 10px;
}

.detail-product-content-right,
.admin-system-content-right,
.my-order-content-right,
.profile-user-content-right {
  padding: 16px;
}

.detail-product-content-right:not(:last-child),
.admin-system-content-right:not(:last-child) {
  margin-bottom: 10px;
}

.detail-product-content-left,
.admin-system-content-left,
.my-order-content-left,
.profile-user-content-left {
  padding: 16px;
  position: sticky;
  top: 66px;
}

.detail-product-price,
.cart-product-price-total,
.cart-total-number {
  color: #c92127;
}

.detail-product-content-right .table-label {
  color: #777;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.sub-img-detail-product {
  padding: 10px 5px 0 5px;

}

.sub-img-detail-product img {
  border-radius: 0 0 8px 8px;
}

.sub-img-detail-product div {
  padding: 0 5px;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 10px 10px 0 10px;
}

.footer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px 8px 0 0;
}

.footer-inner {
  padding: 10px;
}




.cart-page-title-container {
  text-transform: uppercase;
}

.cart-page-title {
  padding: 16px 0 16px 10px;
}

.cart-item-block,
.cart-total-block,
.cart-item-header-block {
  padding: 0 10px !important;
  margin-bottom: 10px;
}

.cart-item-inner,
.cart-total-inner,
.cart-item-header-inner {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item-product {
  padding: 10px;
}

.cart-product-check input,
.cart-item-header-check input {
  border: 1px solid #5d5d5d;
}

.cart-product-img img,
.my-order-img img {
  width: 100%;
  min-width: 60px;
  max-width: 100px;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.cart-item-product,
.cart-item-header,
.cart-product-group-info,
.cart-product-price-total,
.cart-product-img,
.cart-product-remove,
.cart-product-check,
.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-header {
  padding: 10px;
}


.cart-total-block {
  margin-bottom: 10px;
  position: sticky;
  top: 66px;
}

.cart-total-inner {
  padding: 20px;
}

.cart-total-inner>.cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-total-inner>.cart-payment-btn {
  width: 100%;
  margin-top: 30px;
}

.detail-product-content-left,
.profile-user-content-left,
.my-order-content-left,
.admin-system-content-left {
  padding: 10px;
}

.profile-user-avatar {
  padding: 0 !important;
  width: 100px !important;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.detail-product-content-left-block,
.profile-user-content-left-block,
.my-order-content-left-block,
.admin-system-content-left-block {
  padding: 6px;
}

.admin-system-content-left-block .ant-menu {
  border: none !important;
}

.admin-user-add-user,
.admin-product-add-product {
  padding-bottom: 10px;
}

.admin-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-system-content-right .modal-body label {
  margin-left: 10px !important;
}

.admin-system-content-right .modal-body .form-floating {
  padding: 5px !important;
}

.admin-system-content-right .modal-body img {
  width: 100%;
  min-width: 60px;
  max-width: 100px;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-left: 10px;
}

.admin-system-content-right table img {
  width: 100%;
  width: 70px;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.admin-table-action {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-table-action span {
  cursor: pointer;
}

.admin-table-action .fa-trash {
  color: red;
}

.admin-table-action .fa-edit {
  color: orange;
}

/* .admin-system-content-right td {
  padding: 10px !important;
} */

.admin-table-name {
  max-width: 100px;
  max-height: 42px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
}

.cart-item-payment {
  padding: 16px;
}

.my-order-btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: auto;
  align-items: right;
  justify-content: right;
}

.my-order-total-amount {
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  align-items: right;
  justify-content: right;
}

.my-order-delivery {
  margin-bottom: 5px;
  color: crimson;
  display: flex;
  align-items: right;
  font-weight: bold;
  justify-content: space-between;
}

.my-order-name {
  /* padding-left: 20px; */
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  width: 95%;
}

.my-order-price-amount {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6D757D;
}

.my-order-total-price {
  font-size: 18px;
  font-weight: bold;
  color: #c92127;
}

.my-order-content-left-block div,
.profile-user-content-left-block div {
  margin: 10px 0;
  cursor: pointer;
}

.my-order-content-left-block div:hover,
.profile-user-content-left-block div:hover {
  color: #FFC107;
}

.my-order-content-left-block i,
.profile-user-content-left-block i {
  width: 18px;
  color: #0d6efd;
  padding-right: 20px;
}

.my-order-content-left-block div.active,
.profile-user-content-left-block div.active {
  color: coral;
}

.my-order-user {
  font-size: 14px;
}

.my-order-edit-profile-btn {
  color: #5d5d5d;
  cursor: pointer;
}

.my-order-code {
  color: #6D757D;
  font-size: 14px;
}

.my-order-user-name {
  font-weight: bold;
}